*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body > * {    
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    width: 100%;
    height: 100vh;
    display: block;
}

div#text {
    text-align: justify;
    font-size: 1.2rem;
    padding: 5px;
    background-color: white;
    color: black;
    width: 100%;
}
button {
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0px;
}
button:active,
button:hover,
button:focus {
    background-color: rgb(181, 181, 181);
}

#history {
    background-color: white;
    color: black;
    overflow: auto;
    min-height: 200px;
    max-height: 50vh;
    padding: 5px;
    display: flex;
}
#history > div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-height: 100%;
    margin: auto;
}
#history > div .item {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: auto;
}
#history > div .item > .content {
    /* padding: 5px; */
    margin: 5px;
    align-self: center;
    width: 100px;
    border: none;
}
#history > div .item > .content.active {
    border: 2px solid black;
}
#history > div .item > .content > img {
    width: 100%;
    /* min-width: 100px; */
    height: 60px;
    object-fit: cover;
}
#history > div .item > .content > button {
    width: 50%;
    font-size: .7rem;
}
#history > div .item > .children {
    display: flex;
    flex-direction: column;
}

@media screen and (prefers-color-scheme: dark) {
    div#text {
        background-color: black;
        color: white;
    }
    #history > div .item > .content.active {
        border: 2px solid white;
    }
    button {
        background-color: black;
        color: white;
    }
    #history {
        background-color: black;
        color: white;
    }
    button:active,
    button:hover,
    button:focus {
        background-color: rgb(45, 45, 45);
    }
}
