*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

canvas {
    width: 100%;
    height: 100vh;
    display: block;
    background: white;
}

@media screen and (prefers-color-scheme: dark) {
    canvas {
        background: black;
    }
}
