*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body > * {    
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    width: 100%;
    height: 100vh;
    display: block;
}

div#text {
    text-align: justify;
    font-size: 1.2rem;
    padding: 5px;
    background-color: white;
    color: black;
    width: 100%;
}
button {
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0px;
}
button:active,
button:hover,
button:focus {
    background-color: rgb(181, 181, 181);
}

#history {
    background-color: white;
    color: black;
    overflow: auto;
    height: 200px;
}
#history > div {
    display: flex;
    flex-direction: row;

}
#history > div .item {
    display: flex;
    flex-direction: row;
}
#history > div .item > .content {
    padding: 5px;
    /* align-items: center;
    justify-content: center; */
    align-self: center;
}
#history > div .item > .children {
    display: flex;
    flex-direction: column;
}

@media screen and (prefers-color-scheme: dark) {
    div#text {
        background-color: black;
        color: white;
    }
    button {
        background-color: black;
        color: white;
    }
    #history {
        background-color: black;
        color: white;
    }
    button:active,
    button:hover,
    button:focus {
        background-color: rgb(45, 45, 45);
    }
}
